.container {
    position: relative;
    top: 75px;
}

.con-container {
    gap: 50px;
}

iframe {
    position: relative;
    left: 2.5rem;
}

@media (max-width: 576px) {
    .con-container {
        grid-template-columns: auto;
    }
}