.carousel-inner {
    width: 100%;
    height: 950px;
}

@media only screen and (min-width : 1200px) {
    .carousel-caption
    {
      top: 55%;
    }
}

@media (max-width: 550px) {
    .navbar-nav > li {
        text-align: center;
    }
    .carousel-inner {
        height: 300px;
    }
    .container {
        position: relative;
        top: 25px;
    }
}

@media (min-width: 551px) and (max-width: 768px) {
    .navbar-nav > li {
        text-align: center;
    }
    .carousel-inner {
        height: 500px;
    }
    .container {
        position: relative;
        top: 0px;
    }
}